doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="/rs/assets/rs.min.css")
    script(src="https://use.edgefonts.net/source-sans-pro:n3,n4,i4,n6,n7.js")
  body
    .px-3.py-2.mb-3.bg-dark
      h1 #[a(href="/rs").text-light= name] #[small.text-white-50 – redirect-server]
    block content